*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(71, 107, 224);
}

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: rgb(212, 211, 211);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow:  0 0 3 rgb(172, 170, 170);
    border-radius: 5px;
    
    }
.container .coin-price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(247, 6, 6);
  
}
.container .coin-price .logo{
width: 70px;
margin-right: 10px;
}
